.accomplishment {
  border: 1px solid #000000;
  box-sizing: border-box;
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#type-button-award {
  background-color: #f2c94c;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
#type-button-personal {
  background-color: #72c795;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
#type-button-volunteer {
  background-color: #56ccf2;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
#type-button-work {
  background-color: #bd83eb;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 600;
  font-size: 2.1vh;
}

.date {
  font-size: 1.7vh;
  color: gray;
  font-weight: 200;
}

.card-description {
  font-size: 1.8vh;
  font-weight: 300;
}
