.padding {
  margin: auto;
}
.title-padding {
  margin: auto;
  margin-left: 10px;
  padding: 0.5rem;
}

@import "~bootstrap/scss/bootstrap";

.fixed-top {
  position: fixed;
  top: 0;
  right: 10px;
  left: 10px;
  z-index: 1030;
}
.navbar{
  padding-left: 20px;
  padding-right: 30px;
}