.home-title {
  font-weight: 600;
  font-size: 2.7vh;
}
.home-type-button {
  font-size: 2vh;
  background-color: #f2c94c;
  border: none;
}

.home-date {
  font-size: 2vh;
  color: gray;
  font-weight: 200;
}

.home-card-description {
  font-size: 2.1vh;
  font-weight: 300;
}
