.padding {
  margin: auto;
}

.navbar{
  padding-left: 20px;
  padding-right: 30px;
}

.title-padding {
  margin: auto;
  margin-left: 10px;
  padding: 0.5rem;
}


@import "~bootstrap/scss/bootstrap";
