@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

.top {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding-top: 100px;
  font-weight: 500;
  font-size: 2.5vh;
}

.achievement-title {
  margin-left: 22px;
}
.past-achievements {
  background: #ffffff;
  height: 30vh;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
}

.affirmation-title {
  margin-left: 22px;
}
.daily-affirmation {
  background: #ffffff;
  height: 30vh;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.news-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  margin-left: 22px;
  margin-top: 10px;
}

.news {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  height: 30vh;
  overflow-y: auto;
}
