@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background: linear-gradient(
    51.98deg,
    #d7b0f5 26.09%,
    #ffbffc 73.63%,
    #ffe7ff 93.66%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing {
  padding-top: 75px;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 7.5vh;
  vertical-align: middle;
  justify-content: left;
}

.landing-image {
  width: 102%;
  height: 102%;
  float: right;
  margin-right: -100px;
  margin-top: 10px;
}

.join-now-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5vh;
}
