@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

.list {
  padding-top: 75px;
  background: #dff6fb;
}
.list-page {
  background: #dff6fb;
  height: 100vh;
}

#cards {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  margin-top: -10px;
}

#addNew {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #a365d5;
  border-color: #a365d5;
}
.shortBox {
  margin-left: -1vh;
  margin-top: 5vh;
}

.dropdowns {
  align-items: flex-end;
}
