.news-handle {
  color: rgba(122, 78, 157, 1);
  font-size: 1.8vh;
}
.news-achievement-title {
  font-weight: 600;
  font-size: 2.7vh;
}

.news-date {
  font-size: 2vh;
  color: gray;
  font-weight: 200;
}

.news-card-description {
  font-weight: 200px;
}
